<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	<ul>
		<% for(var i=0; i < acoes.length; i++){ %>
				<% 
					var text = '';
					var date = new Date();
					var tempo = Math.round(( acoes[i].acoes_termina_em - date.getTime()) / 1000);

					switch(parseInt(acoes[i].acoes)){ 
						case 1: text = 'aldeão(ões) coletando recursos';
							break;

						case 2: text = 'enforcamento(s) programado';
							break;

						case 3: text = 'aldeão(ões) em treinamento de história';
							break;

						case 4: text = 'aldeão(ões) em treinamento de magia';
							break;
					} 
				%>

				<li>	
					<%=acoes[i].aldeoes %> <%=text%> 
					<small>restam <span class="tempo_restante"><%=tempo%></span> 
						segundos - <a href="/revogar_ordem?id=<%=acoes[i]._id%>">revogar ordem</a>
					</small> 
				</li>

		<% } %>
	</ul>
</div>